.mt4-footer {
	max-width: 120rem;
	margin: 10rem auto;
	text-align: center;
	border-radius: 1rem;
	background-color: $primary-color;
	padding: 2rem;
	font-size: $font-size-l;
	font-family: $primary-font;
	color: $font-color;
	span {
		color: $font-bold;
		border-bottom: 2px solid $font-bold;
	}
}

@media screen and (max-width: $mq-l) {
	.mt4-footer {
		font-size: $font-size-m;
		margin: 10rem;
	}
}

@media screen and (max-width: $mq-s) {
	.mt4-footer {
		font-size: $font-size-m;
		margin: 3rem;
	}
}
