.mt4-header {
	background-color: $primary-color;
	text-align: center;

	&__logo {
		width: 9rem;
		margin: 4rem 0;
		height: auto;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}
