.mt4-hero {
	position: relative;
	background-color: $primary-color;
	text-align: center;
	display: flex;
	justify-content: space-around;

	&__content-wrapper {
		@include absolute-center;
		top: 40%;
	}

	&__qr-figure {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.5rem;

		img {
			width: 10rem;
			height: auto;
		}

		p {
			width: 17rem;
			text-align: left;
		}
	}

	&__box-figure {
		width: 40rem;
		height: 40rem;
		background-image: url('../../dist/svg/square.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin-bottom: 4rem;

		&--drawing {
			background-image: url('../../dist/svg/drawing.svg');
		}
	}
}
