.mt4-hero {
	position: relative;
	background-color: $primary-color;
	text-align: center;

	&__wrapper {
		max-width: $max-width;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		padding-bottom: 10rem;
	}

	&__content-wrapper {
		@include absolute-center;
		top: 35%;
	}

	nav {
		max-width: $max-width;
		margin: 0 auto;
	}

	&__box-figure {
		@include background-cover('../../dist/svg/square.svg');
		width: 42rem;
		height: 42rem;
		margin-bottom: 4rem;

		&--drawing {
			background-image: url('../../dist/svg/drawing.svg');
		}
	}
}

.mt4__qr-figure {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;

	img {
		width: 10rem;
		height: auto;
		margin-left: 7rem;
	}

	p {
		width: 17rem;
		text-align: left;
	}
}
