.mt4-overview {
	max-width: $max-width;
	margin: 0 auto 25rem;
	position: relative;

	&__content {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	@media screen and (max-width: $mq-m) {
		&__content {
			flex-direction: column;
			gap: 5rem;
			overflow-x: clip;
		}
	}

	&__figure {
		position: relative;
		&__img {
			width: 30rem;
			height: auto;
			border-radius: 5.5rem;
			box-shadow: 0px 0px 30px 0px #0000001a;
			z-index: 999;
			@include absolute-center;
			transition: all 0.3s ease-in-out;
		}

		&__img:first-of-type {
			left: -13rem;
			border-radius: 1.5rem;
			width: 22.5rem;
		}
		&__img:last-of-type {
			left: 13rem;
			border-radius: 1.5rem;
			width: 22.5rem;
		}

		@media screen and (max-width: $mq-l) {
			&__img {
				width: 28rem;
			}
			&__img:first-of-type {
				left: -7.5rem;
				width: 20rem;
			}
			&__img:last-of-type {
				left: 7.5rem;
				width: 20rem;
			}
		}
		@media screen and (max-width: $mq-m) {
			&__img:first-of-type {
				left: -7rem;
			}
			&__img:last-of-type {
				left: 7rem;
			}
		}
	}

	@media screen and (max-width: $mq-m) {
		&__figure {
			height: 50rem;
		}
	}

	&__text-block {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		transition: all 0.3s ease-in-out;

		&:before {
			content: '';
			display: block;
			position: absolute;
			height: 44rem;
			width: 47rem;
			z-index: -1;
			@include absolute-center;
			@include background-cover('svg/ellipse_yellow.svg');
		}

		@media screen and (max-width: $mq-m) {
			&:before {
				height: 60rem;
				width: 70rem;
				top: 150%;
			}
		}

		&--de-emphasis:before {
			height: 66rem;
			width: 70rem;
			z-index: -1;
			left: -2rem;
			top: 9rem;
			@include background-cover('svg/ellipse_transparent.svg');
		}

		@media screen and (max-width: $mq-m) {
			&--de-emphasis {
				text-align: center;
				justify-content: center;
				align-items: center;
			}

			&--de-emphasis:before {
				height: 66rem;
				width: 70rem;
				z-index: -1;
				left: 15rem;
				top: 0;
			}
		}
	}

	&__text {
		width: 27rem;
		font-size: $font-size-m;

		&--emphasis {
			font-family: $primary-font;
			font-size: $font-size-xl;
			font-weight: 600;
		}
	}
}

@media screen and (max-width: $mq-m) {
	.mt4-overview {
		margin-bottom: 10rem;
	}
}
