.heading-1 {
	color: $font-color;
	font-family: $heading-font;
	font-size: $font-size-h1;
	margin-bottom: 2rem;
	max-width: 80rem;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__logo {
		width: 6.5rem;
		height: auto;
		margin: 0 2rem;
	}
}

.heading-2 {
	font-family: $primary-font;
	font-size: $font-size-xl;
	font-weight: 600;
}

p {
	color: $font-color;
	font-family: $primary-font;
	font-weight: 500;
	font-size: $font-size-s;
}
