// Colors

$primary-color: #f6f3ef;
$background-color: #fff;
$light-grey: #f4f6f7;
$font-color: #2d3436;

// Fonts
$heading-font: 'Jost', sans-serif;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$font-size-h1: 5.2rem;
$font-size-h2: 2.6rem;
$font-size-m: 1.8rem;
$font-size-s: 1.4rem;

// Common

$max-width: 145rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $background-color;
}

html {
	font-size: 62.5%;
}
