// Colors

$primary-color: #f6f3ef;
$secondary-color: #ebe5de;
$background-color: #fff;
$light-grey: #f4f6f7;
$font-color: #2d3436;
$font-black: #000;
$font-bold: #b68756;

// Fonts
$heading-font: 'Jost', sans-serif;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$font-size-h1: 4.8rem;
$font-size-xl: 2.6rem;
$font-size-l: 2.2rem;
$font-size-m: 1.8rem;
$font-size-s: 1.4rem;

// Common

$max-width: 145rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $background-color;
}

html {
	font-size: 62.5%;
}

// Icons

.mt4-app {
	width: 16rem;
	height: auto;
}
